

#comments-container {
    max-width: 75rem;
    margin: 5rem auto;
}

#comments-container .header {
    padding: 3%;
    font-size: 2em;
    text-align: center;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid #ddd;
}

#comments-container .title {
    font-size: 0.9em;
}

.fa-angle-left {
    float: left;
}
.fa-paper-plane {
    float: right;
}

#comments-container .header:after {
    content: '';
    display: block;
    clear: both;
}

/*Comment Section*/

#comments-container .body .img {
    width: 10%;
}

#comments-container .body img {
    width: 100%;
    border-radius: 50%;
}

#comments-container .replay > div:nth-child(1),
#comments-container .section > div:nth-child(1) {
    padding: 3%;
    display: flex;
    width: 100%;
}

#comments-container .replay {
    /*padding: 3%;*/
    width: 80%;
    float: right;
}

#comments-container .section:after {
    content: '';
    display: block;
    clear: both;
}

#comments-container .comment-body {
    padding: 0 3%;
    font-size: 1.1em;
    width: 60%;
    /*text-align: center;*/
}

#comments-container .name {
    font-weight: bold;
    display: block;
    margin-bottom: 0.3rem;
}

#comments-container .like-dislike {
    padding-top: 1%;
    width: 20%;
    text-align: right;
}

#comments-container .like-dislike .fa {
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 0.3rem;
}

#comments-container .muted {
    padding-top: 3%;
    font-size: 0.8em;
    color: grey;
}

#comments-container .muted > span {
    margin-right: 5%;
}
/*Replay logic*/
#comments-container .delete-comment,
#comments-container .delete-comment-answer,
#comments-container .replay-button {
    cursor: pointer;
}

/*form*/
#comments-container .comments-form {
    border: 1px solid #CCC;
    padding: 3%;
    border-radius: 1rem;
    margin-top: 1%;
    margin-bottom: 1%;
}

#comments-container .comments-form header {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 2em;
    align-items: center;
}

#comments-container .comments-form header h2 {
    margin-left: 2rem;
}

#comments-container .comments-form header img {
    width: 10%;
    border-radius: 50%;
}
#comments-container .form-comment-replay input,
#comments-container .comments-form textarea {
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    width: 100%;
    margin: 1rem 0 0.5rem;
    background-color: rgb(250, 250, 250);
}

.error-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
