.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.card {
    background: #FFF;
    border-radius: 0.3rem;
    overflow: hidden;
    width: 22rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
    /*position: relative;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/

    margin: 2rem;
}

.card .media {
    position: relative;
    overflow: hidden;
}

.card .media:after {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.card .media img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}

.card .media iframe {
    display: block;
    position: absolute;
    width: 100%;
    border: none;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.card .content {
    padding: 2rem;
    overflow: hidden;
}

.card .content h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 0.4rem 0;
}

.card .content a.button {
    display: block;
    background: #090;
    color: #FFF;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    float: right;
}


#no-visited-text {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
}

#progressbar-container {
    max-width: 75rem;
    margin: 4rem auto;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

#progressbar {
    text-align: center;
    width: 100%;
    font-size: 1rem;
}

.search-form-container {
    max-width: 75rem;
    margin: 4rem auto;
    padding: 0 1rem;
}

.search-form-container .search-form label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}


