.page {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    max-width: 75rem;
    margin: 4rem auto 0;
}

.page > header {
    width: 100%;
    text-align: center;
}

.page {
    width: 90%;
    margin: 0 auto;
}

article {
    padding-right: 2rem;
}

aside section {
    padding-left: 4rem;
}

.page > header:first-of-type {
    border-bottom: 2px solid #000;
}

header .site-title {
    min-width: 20vw;
    font-weight: bold;
    font-size: 3rem;
    box-shadow: 0 0 5rem 0.1rem rgba(0, 0, 0, 0.25);
}

.align-right {
    padding: 0.5rem;
    background: #FFF;
    border: 3px solid #222;
    box-shadow: 0 0 5rem 0.1rem rgba(0, 0, 0, 0.25);
    float: right;
    margin: 0 0 1rem 1.5rem;
}

.align-right:after {
    content: '';
    display: block;
    clear: both;
}

aside a {
    text-decoration: none;
    color: #090;
}

header > h1 {
    font-size: 2.2rem;
    margin: 1em 0 0.5em 0;
    padding: 0;
}

#app-button {
    display: inline-block;
    background: #090;
    color: #FFF;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    width: 10rem;
    margin: 1rem;
}

#button-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#historical-site-widgets {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 75rem;
    margin: 4rem auto;
}

#historical-site-widgets #visited-container {
    width: 25%;
}

/* rating css */
.rate {
    border: 1px solid #cccccc;
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}
.rate:not(:checked) > label:before { content: '★ '; }
.rate > input:checked ~ label { color: #ffc700; }
.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { color: #deb217; }
.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label { color: #c59b08; }
