#historical-site-title {
    display: block;
    font-weight: bold;
    font-size: 3rem;
    margin: 3rem auto;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

#historical-site-title:after {
    content: '';
    display: block;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

#historical-site-title:hover#historical-site-title:after {
    border-bottom: 1px solid #090;
}

#pagination {
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem 1rem;
}

main {
    padding: 0 1rem;
}

main:after {
    display: block;
    content: '';
    clear: both;
}
